body{
	background-color: black;
	color: white;
	font-size: 30px;
	text-align: center;
	justify-content: center;

}
.container{
	border-color: white;
	border-style: solid;
	border-width: 2px;

	display: flex;
	width: 1000px;
	min-height: 500px;
	justify-content: center;
	flex-direction: column;	
	position: absolute;

	
}

.box{
	border-color: white;
	border-style: solid;
	border-width: 2px;
	flex: 1;
	position: relative;
}

.box1{background-color: yellow;}
.box2{background-color: green;}
.box3{background-color: blue;}
.box4{background-color: red;}
.box5{background-color: orange;}

.container img{
	position: absolute;
	z-index: -1;

	width: 100%;
}
