body{
	font-family: 'Lora', serif;
	background-color: black;
	color: white;
}

.border{
	/*border-color: white;
	border-style: solid;
	border-width: 2px;
	border-style: solid;*/
}

.main{
	position: relative;
	justify-content: center;
	display: flex;
	margin-right: 10%;
	margin-left: 10%;

}

.baner{
	max-width: 1200px;
	min-height: 430px;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;

}


.baner img{
	width: 100%;
	/*height: 100%;*/
	position: absolute;
	z-index: -1;
	opacity: 0.7;
}

.menu{

	position: relative;
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.menu img{
	width: 100px;
	position: absolute;
	left: 100px;
}

.navigationRight{

	font-weight: bold;
	letter-spacing: 2px;
	font-size: 16px;
	color: #f0b642;
	
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	flex: 2;
	justify-content: space-around;

	margin: 0px;
	padding-top: 40px;

	max-width: 700px;
}

.navigationLeft{
	flex: 1;
}

.banerContent{
	display: flex;
	position: relative;
	flex: 5;
}


.leftSide {
	flex-grow: 1;
	padding-left: 50px;
	padding-top: 50px;

}

.leftSide img{
	max-width: 250px;
	width: 100%
	height: 100%;
}

.rightSide {
	
	flex-grow: 2;

	letter-spacing: 7px;
	font-size: 14px;

	
	text-align: right;


}

.rightSide h1{
	display: inline-block;
	max-width: 600px;
	line-height: 2.5;
	text-align: center;
	align-items: right;
	vertical-align: middle;	
	padding-right: 60px;
	padding-top: 50px;
	color: #f0b642;

	position: relative;
	left: 120px;
	bottom: 20px;
}
